@font-face {
  font-family: "Gilroy-Bold";
  src: url("fonts/Gilroy-Bold.woff") format("woff"),
      url("fonts/Gilroy-Bold.ttf") format("opentype");
}

@font-face {
  font-family: "Gilroy-Heavy";
  src: url("fonts/Gilroy-Heavy.woff") format("woff"),
      url("fonts/Gilroy-Heavy.ttf") format("opentype");
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("fonts/Gilroy-Light.woff") format("woff"),
      url("fonts/Gilroy-Light.ttf") format("opentype");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("fonts/Gilroy-Medium.woff") format("woff"),
      url("fonts/Gilroy-Medium.ttf") format("opentype");
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("fonts/Gilroy-Regular.woff") format("woff"),
      url("fonts/Gilroy-Regular.ttf") format("opentype");
}

:root {
	--main-color: white;
	--secondary-color: gray;
	--background-color: black;
}

[data-theme="light"] {
    --main-color: black;
	--secondary-color: gray;
	--background-color: lightgray;
}

body {
	font-family: "Gilroy-Bold";
	background-color: var(--background-color);
	color: var(--main-color);
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}

header, main, footer {
	margin-top: 2em;
	margin-bottom: 2em
}

header {
	display: flex;
	justify-content: space-between;
}

main * {
	margin: 0;
	font-size: 4vw;
}

main .content {
	max-width: 70%
}

main h2 {
	color: var(--secondary-color);
}

.contact-info {
	display: flex;
	flex-wrap: wrap;
}

.contact-info * + * {
	margin-left: 20px;
}


.theme-switch-wrapper {
  display: flex;
  align-items: center;

  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: var(--secondary-color);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: var(--main-color);
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: var(--secondary-color);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}